In [1]:
from function import data_loader

In [2]:
import os
path = '/home/louis/summer_invitational_data_open_2020/data/'

directory = os.path.join(path)
for root,dirs,files in os.walk(directory):
    for file in files:
        if file.endswith(".csv"):
            print(file)

# London

In [3]:
london_dic = data_loader(path='/home/khaoulabelahsen/Desktop/datathon-citadel-2020/summer_invitational_data_open_2020/data/', city='London')
list(london_dic.keys())

/home/khaoulabelahsen/.pyenv/versions/3.7.7/envs/3d-khaoula-3.7.7/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3331: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

['london_economic_activity',
 'london_tickets_for_sale',
 'london_ticket_sales',
 'london_taxpayer_income',
 'UK_inflation',
 'london_infrastructure_spending',
 'london_underground_activity',
 'london_sports_participation',
 'london_earnings_by_borough',
 'london_underground_station_info',
 'UK_international-visits']

# Vancouver

In [4]:
vancouver_dic = data_loader(path='/home/louis/summer_invitational_data_open_2020/data/', city='Vancouver')
list(vancouver_dic.keys())

FileNotFoundError: [Errno 2] No such file or directory: '/home/louis/summer_invitational_data_open_2020/data/Vancouver/'

# Rio

In [4]:
rio_dic = data_loader(path='/home/louis/summer_invitational_data_open_2020/data/', city='Rio')
list(rio_dic.keys())

['brazil_tourism_jobs',
 'brazil_gdp',
 'brazil_monthly_income',
 'brazil_international_arrivals',
 'brazil_unemployment']

In [5]:
import os 

path_to_data = '/home/khaoulabelahsen/Desktop/datathon-citadel-2020/summer_invitational_data_open_2020/data/'

In [6]:
import pandas as pd 

os.chdir(path_to_data+'London/')

ldn_tickets_for_sale = pd.read_csv('london_tickets_for_sale.csv', encoding='latin1')

ldn_tickets_for_sale

,date,time,gender,session,medal_ceremony,code,AA,A,B,C,D,E,limit,venue,event
0,03-Aug,10:0013:45,M,400m Hurdles: round 1,NaN,AT001,,150,95,65,40,20,20.0,Olympic Park - Olympic Stadium,Athletics
1,03-Aug,10:0013:45,M,3000m Steeplechase: round 1,NaN,AT001,,150,95,65,40,20,20.0,Olympic Park - Olympic Stadium,Athletics
2,03-Aug,10:0013:45,M,Hammer: qualifying,NaN,AT001,,150,95,65,40,20,20.0,Olympic Park - Olympic Stadium,Athletics
3,03-Aug,10:0013:45,M,Shot Put: qualifying,NaN,AT001,,150,95,65,40,20,20.0,Olympic Park - Olympic Stadium,Athletics
4,03-Aug,10:0013:45,W,100m: classification heats,NaN,AT001,,150,95,65,40,20,20.0,Olympic Park - Olympic Stadium,Athletics
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1123,05-Aug,12:0020:30,M,Singles: gold medal match; victory ceremony,Y,TE023,225,150,110,95,65,,4.0,Wimbledon - Centre Court,Tennis
1124,05-Aug,12:0020:30,W,Doubles: gold medal match; victory ceremony,Y,TE023,225,150,110,95,65,,4.0,Wimbledon - Centre Court,Tennis
1125,05-Aug,12:0020:30,M/W,Mixed Doubles: gold medal match; victory ceremony,Y,TE023,225,150,110,95,65,,4.0,Wimbledon - Centre Court,Tennis
1126,05-Aug,12:0020:30,M,Singles: bronze medal match,Y,TE024,,95,55,35,,,6.0,Wimbledon - No.1 Court,Tennis
1127,05-Aug,12:0020:30,W,Doubles: bronze medal match,Y,TE024,,95,55,35,,,6.0,Wimbledon - No.1 Court,Tennis

In [8]:
ldn_ticket_sales = pd.read_csv('london_ticket_sales.csv', encoding='latin1')

ldn_ticket_sales

    session    price  number_sold  total_public_sold  percent_sold_to_public
0     AT001      150        16704            46425.0               73.155166
1     AT001       95         7193            46425.0               73.155166
2     AT001       65         6721            46425.0               73.155166
3     AT001       40         4434            46425.0               73.155166
4     AT001       20         5336            46425.0               73.155166
..      ...      ...          ...                ...                     ...
933   CR006  Special         1512             6896.0               99.365994
934   CR007       10         4758             6108.0              100.000000
935   CR007  Special         1350             6108.0              100.000000
936   CR008       10         1056             1298.0               99.387443
937   CR008  Special          242             1298.0               99.387443

[938 rows x 5 columns]

In [26]:
2600 + 2164 + 1928 + 1292 + 1452

9436

In [24]:
ldn_ticket_sales[ldn_ticket_sales['percent_sold_to_public'] == 10895.000000]

    session price  number_sold  total_public_sold  percent_sold_to_public
714   GT002   185         2600             1459.0                 10895.0
715   GT002   115         2164             1459.0                 10895.0
716   GT002    75         1928             1459.0                 10895.0
717   GT002    40         1292             1459.0                 10895.0
718   GT002    20         1452             1459.0                 10895.0

In [23]:
percent_sold[['percent_sold_to_public']].describe()

       percent_sold_to_public
count              189.000000
mean              1620.913658
std               2842.196615
min                 24.179380
25%                 67.174300
50%                 80.827389
75%                100.000000
max              10895.000000

In [9]:
percent_sold = ldn_ticket_sales[['session', 'percent_sold_to_public']]
percent_sold = percent_sold.drop_duplicates()

In [20]:
import matplotlib

percent_sold[percent_sold['percent_sold_to_public'] <= 50]

    session  percent_sold_to_public
168   SW002               39.778259
180   SW004               41.879961
192   SW006               46.812370
204   SW008               49.241132
216   SW010               43.869869
228   SW012               46.843049
240   SW014               48.639032
246   SW015               45.536519
567   HO042               49.775912
859   TR001               29.111267
863   TR002               24.179380
867   CT001               42.703232
872   CT002               47.276688
877   CT003               49.807136
889   CT005               46.433566
895   CT006               49.686596
900   CT007               39.466916
912   CT009               45.208959

In [23]:
uk_visits = pd.read_csv('UK_international-visits.csv', encoding='latin1')

uk_visits_2012 = uk_visits[uk_visits['year'] == 2012]
uk_visits_2012

/home/khaoulabelahsen/.pyenv/versions/3.7.7/envs/3d-khaoula-3.7.7/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,year,quarter,market,dur_stay,mode,purpose,area,visits,spend,nights,sample
309860,2012,January-March,Belgium,1-3 nights,Air,Holiday,TOTAL ENGLAND,2.535127,0.851227,5.832080,3
309861,2012,January-March,Belgium,1-3 nights,Air,Holiday,LONDON,1.476037,0.517613,3.713900,2
309862,2012,January-March,Belgium,1-3 nights,Air,Holiday,REST OF ENGLAND,1.059090,0.333614,2.118180,1
309863,2012,January-March,Belgium,1-3 nights,Air,Holiday,ENGLAND'S NORTH COUNTRY,1.059090,0.333614,2.118180,1
309864,2012,January-March,Belgium,1-3 nights,Air,Holiday,NORTH WEST,1.059090,0.333614,2.118180,1
...,...,...,...,...,...,...,...,...,...,...,...
342237,2012,October-December,Other Africa,15+ nights,Air,Miscellaneous,TOTAL ENGLAND,0.422756,0.746548,44.412998,1
342238,2012,October-December,Other Africa,15+ nights,Air,Miscellaneous,REST OF ENGLAND,0.422756,0.746548,44.412998,1
342239,2012,October-December,Other Africa,15+ nights,Air,Miscellaneous,ENGLAND'S NORTH COUNTRY,0.422756,0.746548,44.412998,1
342240,2012,October-December,Other Africa,15+ nights,Air,Miscellaneous,NORTH WEST,0.422756,0.746548,44.412998,1
342241,2012,October-December,Other Africa,15+ nights,Air,Miscellaneous,ALL STAYING VISITS,0.422756,0.746548,44.412998,1

TypeError: '<' not supported between instances of 'str' and 'int'